html {
    font-size: 62.5%;
}

body {
	font-size: 1em; background: $brandColor5; font-family: $fontBase;
}

.mainGrid {
    margin: 0 auto; padding: 0 2rem;

    @media screen and (min-width: em($breakpointMedium)) {
        max-width: 114rem;
    }
}
