// Convert pixels to ems
// ------------------------------------------------------------
@function strip-unit($value) {
    @return ($value / ($value * 0 + 1));
}

@function em($pxval, $base: 16px) {

    @if not unitless($pxval) {
        $pxval: strip-unit($pxval);
    }

    @if not unitless($base) {
        $base: strip-unit($base);
    }

    @return ($pxval / $base) * 1em;

}

// Media query helper
// ------------------------------------------------------------
@mixin mediaMaxWidth($breakpoint) {
    @media screen and (max-width: $breakpoint - 0.01) {
        @content
    }
}
