// Brand Colors
$brandColor1: #333333;
$brandColor2: lighten($brandColor1, 20%);
$brandColor3: lighten($brandColor1, 40%);
$brandColor4: lighten($brandColor1, 62%);
$brandColor5: lighten($brandColor1, 72%);
$brandColor6: #3b9cdd;
$brandColor7: #4d5c6c;

//Font
$fontSans: 'Open Sans', sans-serif;
$fontBase: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

//Breakpoints
$breakpointSmall: 480;
$breakpointMedium: 768;
$breakpointLarge: 1180;

// Miscs
$gutter: 2rem;
