/**
 * =============================================================================
 * 1. Adjust position to its container.
 * =============================================================================
 */

.blockSection {

    padding: 4rem $gutter; text-align: center;

    @media screen and (min-width: em($breakpointMedium)) {
        padding: 8rem $gutter;
    }

    &-contentBlock {
        position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);
        width: calc(100% - (#{$gutter} * 2));
    }

    &-title {
        font-size: em(24,10); padding-bottom: em(16,24); line-height: 1.6;
        font-family: $fontSans; color: $brandColor1;

        @media screen and (min-width: em($breakpointMedium)) {
            font-size: em(34,10); padding-bottom: em(30,30);
        }
    }

    &-subtitle {
        font-size: em(11,10); padding-bottom: em(15,11);
        color: #fff; text-transform: uppercase; letter-spacing: 0.35rem;

        @media screen and (min-width: em($breakpointMedium)) {
            font-size: em(12,10); padding-bottom: em(32,12);
        }
    }

    &-text {
        font-size: em(13,10); color: $brandColor3; font-weight: 300; line-height: 1.8;

        @media screen and (min-width: em($breakpointMedium)) {
            font-size: em(15,10); margin: 0 auto; max-width: 92rem; line-height: 2.2;
        }
    }

    &-footer {
        padding: 4rem $gutter; text-align: center;

        @media screen and (min-width: em($breakpointMedium)) {
            padding: 8rem 0;
        }
    }

    &--typeIntro {
        height: 100vh; background-color: $brandColor4;

        .blockSection-title,
        .blockSection-text {
            color: #fff;
        }
    }

    &--typeArticle {
        background-color: #fff;
    }

    &--typePortfolio {
        background-color: #fff; padding-bottom: 0; padding-left: 0; padding-right: 0;
    }

    .buttonPoint { /* 1 */
        position: absolute; bottom: 2rem; left: 50%; transform: translateX(-50%);

        @media screen and (min-width: em($breakpointMedium)) {
            bottom: 4rem;
        }
    }
}
