.imageSection {

    @media screen and (min-width: em($breakpointMedium)) {
        display: flex;
    }

    &-column {
        padding: 3rem 2rem; background-color: $brandColor5;

        &:first-of-type {
            background-color: $brandColor4;

            @include mediaMaxWidth(em($breakpointMedium)) {
                padding: 0;
            }
        }

        @media screen and (min-width: em($breakpointMedium)) {
            width: 50%; padding: 12rem 8rem; position: relative; flex-wrap: nowrap; box-sizing: border-box;
        }
    }

    &-picture {
        width: 100%; height: 100%; min-height: 16rem;

        @media screen and (min-width: em($breakpointMedium)) {
            position: absolute; left: 0; top: 0;
        }

        > img {
            height: 100%; width: 100%;

            @media screen and (min-width: em($breakpointMedium)) {
                object-fit: cover;
            }
        }
    }

    &-title {
        font-size: em(24,10); padding-bottom: em(16,24); font-family: $fontSans; color: $brandColor1;

        @media screen and (min-width: em($breakpointMedium)) {
            font-size: em(30,10); padding-bottom: em(30,30);
        }
    }

    &-textBlock {

        @media screen and (min-width: em($breakpointLarge)) {
            max-width: 80%;
        }

        > p {
            font-size: em(13,10); padding-bottom: em(13,13); color: $brandColor3; font-weight: 300;
            line-height: 1.8;

            @media screen and (min-width: em($breakpointMedium)) {
                font-size: em(15,10); padding-bottom: em(24,15); line-height: 2.2;
            }
        }
    }
}
