.mainHeader {
    position: absolute; top: $gutter; left: $gutter; right: $gutter;

    @media screen and (min-width: em($breakpointLarge)) {
        top: $gutter * 2; left: $gutter * 4; right: $gutter * 4;
    }

    &-brandLogo {
        display: inline-block; width: 10rem;

        @media screen and (min-width: em($breakpointMedium)) {
            width: 14.4rem;
        }
    }

    &-brandLogoImage {
        width: 100%; height: auto;
    }
}
