.mainNavigation {

    &-list {
        list-style: none;
    }

    &-listItem {
        display: block;

        @include mediaMaxWidth(em($breakpointLarge)) {
            margin-top: 1.5rem;

            &:first-child {
                margin-top: 2rem;
            }
        }
    }

    &-listItemLink {
        font-size: em(12,10); display: block; padding: 0.5rem;
        color: #fff; text-transform: uppercase; text-decoration: none; font-weight: 300;
        letter-spacing: 0.35rem; line-height: 1; transition: color 150ms ease-in-out;

        &:hover {
            color: $brandColor6;
        }

        @include mediaMaxWidth(em($breakpointLarge)) {
            padding-left: 0;
        }
    }

    @media screen and (min-width: em($breakpointLarge)) {
        $buttonSearchWidth: 4.5;

        position: absolute; top: 50%; transform: translateY(-50%); right: $buttonSearchWidth + $gutter * 2;

        &-listItem {
            display: inline-block; padding-right: 2rem;
        }
    }
}
