.masonryColumnGrid {

    @media screen and (min-width: em($breakpointSmall)) {
        column-count: 2; column-gap: 0;
    }

    @media screen and (min-width: em($breakpointLarge)) {
        column-count: 3;
    }
}
