.portfolioList {
    margin-top: 2rem; list-style-type: none;

    @media screen and (min-width: em($breakpointMedium)) {
        margin-top: 6rem;
    }

    &-item {
        position: relative;

        @media screen and (min-width: em($breakpointSmall)) and (max-width: em($breakpointLarge)) {

            &:last-child,
            &:nth-last-child(2) { // @todo
                display: none;
            }
        }
    }

    &-itemLink {
        display: block; height: 100%;

        &:hover {

            .portfolioList-itemInfoWrap {
                opacity: 1; transform: translateY(0);
            }
        }
    }

    &-itemImageCont {
        position: relative; height: 100%; z-index: 1;
    }

    &-itemPicture {
        width: 100%; height: 100%; min-height: 16rem;
    }

    &-itemImage {
        width: 100%; height: 100%; vertical-align: bottom; object-fit: cover;
    }

    &-itemInfoWrap {
        position: absolute; left: 2rem; top: 2rem; bottom: 2rem; right: 2rem; opacity: 0;
        transition: all 250ms ease-in-out; z-index: 2; background: $brandColor7; transform: translateY(2rem);
    }

    &-itemInfoCont {
        position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);
        color: $brandColor5; text-align: center; font-family: $fontSans;

    }

    &-itemInfoContTitle {
        font-size: em(16,10); font-weight: 300; letter-spacing: 0.75rem; text-transform: uppercase;

        @media screen and (min-width: em($breakpointMedium)) {
            font-size: em(20,10);
        }
    }

    &-itemInfoContText {
        font-size: em(14,10); padding: 1rem 0; position: relative;
        letter-spacing: 0.15rem; font-weight: 300;

        &:after {
            content: ''; position: absolute; bottom: -1rem; left: 20%; right: 20%; height: 0.2rem;
            background: $brandColor5;
        }

        @media screen and (min-width: em($breakpointMedium)) {
            font-size: em(16,10); padding: 2.2rem 0;
        }
    }
}
