/**
 * =============================================================================
 * 1. Custom tabbyjs selector.
 * =============================================================================
 */

.tabModule {
    margin-top: 2rem;

    @media screen and (min-width: em($breakpointMedium)) {
        margin-top: 6rem;
    }

    &-navigation {
        list-style: none;
    }

    &-navigationItem {
        display: inline-block;

        @include mediaMaxWidth(em($breakpointMedium)) {
            display: block; margin-top: 1.5rem;
        }

        @media screen and (min-width: em($breakpointMedium)) {
            margin-right: 4rem;
        }
    }

    &-navigationItemLink {
        font-size: em(12,10); display: block; padding: 0.5rem; position: relative;
        color: $brandColor6; text-transform: uppercase; text-decoration: none; font-weight: 600;
        letter-spacing: 0.15rem; line-height: 1; outline: 0;

        &:after {
            content: ''; display: block; position: absolute; bottom: -0.5rem; left: 0.5rem; right: 0.5rem;
            height: 0.3rem; background: $brandColor6; transform: scaleX(0); transition: all 150ms ease-in-out;
        }

        &:hover,
        &[aria-selected="true"] { /* 1 */

            &:after {
                transform: scaleX(1);
            }
        }

        @include mediaMaxWidth(em($breakpointMedium)) {
            display: inline-block;

            &:after {
                bottom: -0.25rem;
            }
        }
    }
}
