.buttonSearch {
    padding: 1rem; box-sizing: border-box; width: 4.5rem; height: 4.5rem;
    position: absolute; right: 0; top: 0;
    background: transparent;


    &-icon {
        transition: all 150ms ease-in-out;
    }

    &:hover,
    &:focus {

        .buttonSearch-icon {
            transform: translateX(0.5rem);
        }
    }

    @include mediaMaxWidth(em($breakpointLarge)) {
        padding-top: 0; padding-right: 0;
    }

    @media screen and (min-width: em($breakpointLarge)) {
        top: 50%; transform: translateY(-50%);
    }

}
