.buttonMore {
    font-size: em(11,10); padding: em(12,12); display: block; position: relative;
    text-transform: uppercase; color: $brandColor6; text-align: center; text-decoration: none;
    border: 0.2rem solid $brandColor6; letter-spacing: 0.25rem; font-weight: 600; line-height: 1;
    transition: all 150ms ease-in-out; outline: 0.2rem solid transparent;

    &:hover,
    &:focus {
        color: #fff; box-shadow: inset 0 4rem 0 0 $brandColor6;
    }

    &:focus {
        outline: 0.2rem solid darken($brandColor6, 15%);
    }

    &:active {
        bottom: -0.1rem;
    }

    @media screen and (min-width: em($breakpointSmall)) {
        font-size: em(12,10); display: inline-block; padding: em(14,12) em(44,12);
    }
}
