.buttonPoint {
    padding: 1rem;

    &-icon {
        fill: #fff; transition: all 150ms ease-in-out;
    }

    &--typeDown {
        background: transparent;

        &:hover,
        &:focus {

            .buttonPoint-icon {
                transform: translateY(0.5rem);
            }
        }
    }
}
