@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

.loadingIndicator {
    position: relative;

    &:after {
        content: ''; position: absolute; top: 50%; left: 50%; z-index: 0;
        margin-top: -2.75rem; margin-left: -2.75rem; width: 5rem; height: 5rem;
        border-radius: 5rem; border: 0.5rem solid $brandColor3; border-top-color: $brandColor2;
        animation: spin 1250ms linear infinite;
    }
}
